.news {
  padding: 0.8rem 0.5rem;
  font-size: 18px;
  line-height: 18px;
  white-space:nowrap;
  border-bottom:1px solid #e6e6e6;
  .news_a:after{
    content: '';
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border: 1.2px solid #999;
    border-style: solid none none solid;
    transform: rotate(130deg);
    margin-left: 82%;
    transform-origin: 0px 3px;
    transition: all 0.5s;
  }
  .news_a:visited {
    color: #222;
  }
} 
.news:active {
  background: #e6e6e6;
}